body {
    background-color:rgb(176, 202, 224); 
    font-family: Arial, sans-serif;
  }
    h1 {
    color: #9b6008; 
    text-align: center;
  }
    p {
    font-size: 18px;
    text-align: justify;
  }
    ul {
    line-height: 2; 
  }
    img {
    border-radius: 10px; 
    width: 150px; 
    height: auto;
  }
    table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
    background-color: #ffffff;
    
  }
    td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
  }
  a:hover {
    color: #ff4500; 
}